body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; 
    color: #ffffff; 
    padding: 0;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}

.hero-container::after,
.hero-container::before {
    content:" ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius:28.125rem;
    background:#7c66e3 ;
    position: absolute;
    z-index: -1;
    filter:blur(225px);
}

/* .hero-container::after {
    top:-0.5rem;
    left:-1rem;
}

.hero-container::before{
    bottom:0.5rem;
    right:0rem;
} */

.hero-content {
    flex: 1;
}

.hero-content h2 {
    font-size: 3.5rem; 
    font-weight: 600;
    line-height: 4.2rem;
    margin-bottom: 1rem;
}

.hero-content p {
    width: 80%;
    font-size: 1.2rem; 
    font-weight: 400;
    line-height: 2rem;
}

.highlight-background {
    background-color: #4a90e2; 
    padding: 0 0.2rem;
    border-radius: 0.2rem;
    color: #ffffff;
}

.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.main-visual {
    width: 400px; 
    height: auto;
    border-radius: 20px;
}

.icon-row {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.tech-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
    transition: all 0.3s ease;
}

.tech-icon img {
    width: 3rem;
    height: auto;
}

.tech-icon:hover {
    transform: translateY(-0.5rem);
}

@media (max-width:1025px) {
    .hero-container h2 {
        font-size:3rem;
        line-height: 4rem;
    }

    .hero-container p {
        font-size: 0.9rem;
        line-height: 1.6rem;   
    }

    .hero-img > div> img {
        width:20rem;
    }

    .tech-icon {
        width: 4rem;
        height:4rem;

    }
    .tech-icon img {
        width:2.5rem;
    }
}
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-content h2 {
        font-size: 1rem;
        line-height: 2rem;
    }

    .hero-content p {
        font-size: 0.8rem;
        width: 100%;
    }

    .hero-img {
        margin: 2rem 0 2rem 0;
        order: 1;
        
    }

    .hero-content {
        order:2;
    }

    .hero-container h2 {
        margin-top: 3rem;

    }

    .tech-icon {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 0.65rem;
        border: 1.5px solid #6852ba;
        transition: all 0.3s ease;

    }

    .icon-row {
       display: flex;
       justify-content: center;
       gap:1.5rem;
    }
    
    .hero-container h2,
    .hero-container p{
        width: auto;
        text-align: center;
    }

    .hero-container::after,
    .hero-container::before {
        content:" ";
        width:18rem;
        height: 18rem;
    }
    .hero-container::after {
        top:0rem;
        left:0rem; 
    }

    .hero-container::before { 
        bottom:2rem;
        right:0rem
    }

    .main-visual {
        width: 100%; 
    }
}
